name: Building and running tests

on:
  workflow_call:
    secrets:
      COVERAGE_BADGE_GIST_TOKEN:
        required: false

env:
  MIN_COVERAGE: 50
  MAX_COVERAGE: 80

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: ">=1.20.0"

      - name: Setup project
        run: make setup

      - name: Run linters
        run: make lint

      - name: Run tests
        run: make test

      - name: Run tests with coverage
        run: make test-coverage

      - name: GitHub App Auth
        uses: TimoWilhelm/action-github-app-auth@v1.0.0
        with:
          app-id: 1007791 #55262638
          private-key: ${{ secrets.ACCESS_ACTIONS_REPO_APP_PRIVATEKEY }}
          set-git-credentials: true

      - name: Checkout private action repository
        uses: actions/checkout@v3
        with:
          repository: B-S-F/github-actions
          path: ./private-github-actions

      - name: Create Code Coverage Summary
        id: coverage-summary
        uses: ./private/github-actions/json-code-coverage-summary
        if: github.actor != 'depbot'
        with:
          filenames: ./coverage/coverage.json
          threshold: ${{ env.MIN_COVERAGE }},${{ env.MAX_COVERAGE }}
          kind: go
          show-details: true
          mono-repo: false

      - name: Add Coverage as PR Comment
        if: github.event_name == 'pull_request' && github.actor != 'depbot'
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          path: code-coverage-results.md

#      - name: Upload Coverage Badge data
#        if: github.event_name == 'push' && github.actor != 'depbot'
#        run: |
#          percentage=${{ steps.coverage-summary.outputs.total-coverage }}
#          if [ $percentage -ge "${{ env.MAX_COVERAGE }}"  ]; then
#            color="green"
#          elif [ $percentage -ge "${{ env.MIN_COVERAGE }}" ]; then
#            color="yellow"
#          else
#            color="red"
#          fi
#          jq -n --arg color "$color" --arg percentage "$percentage%" '{"schemaVersion": 1, "label": "Coverage", "message": $percentage, "color": $color}' > onyx-coverage-badge.json
#          gh gist edit ${{ env.COVERAGE_BADGE_GIST_ID }} -a onyx-coverage-badge.json
#        env:
#          COVERAGE_BADGE_GIST_ID: ${{ vars.COVERAGE_BADGE_GIST_ID }}
#          GITHUB_TOKEN: ${{ secrets.COVERAGE_BADGE_GIST_TOKEN }}
